################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Proj0/FileContentIndex/2914071e-91f6-41e5-92ba-6cb89008d45b.vsidx
